In [1]:
5/2

2.5

In [2]:
5//2

2

In [4]:
#Q1
mile=int(input("Enter the mile"))
feet=mile*5280
print(feet)

Enter the mile13
68640

In [5]:
#Q2
h=int(input("Enter how many hours"))
m=int(input("Enter how many min"))
s=int(input("Enter how many min"))
ns=h*3600+m*60+s;
print(ns)

Enter how many hours7
Enter how many min21
Enter how many min37
26497

In [6]:
s1=input("enter the string1 ")
s2=input("enter the string2 ")
s3=input("enter the string3 ")
s4=s1+" "+s2+" "+s3
print(s4)

enter the string1My name is
enter the string2Joe
enter the string3Warren
My name is Joe Warren

In [11]:
x0=int(input("Enter the initial x-axis value"))
x1=int(input("Enter the final x-axis value"))
y0=int(input("Enter the initial y-axis value"))
y1=int(input("Enter the final x-axis value"))
x=(x0-x1)**2
y=(y0-y1)**2
d=(x+y)**(1/2)
print(d)

Enter the initial x-axis value2
Enter the final x-axis value5
Enter the initial y-axis value2
Enter the final x-axis value6
5.0

In [17]:
def max(a1,a2,a3):
    a=0
    if(a<a1):
        a=a1
    if(a<a2):
        a=a2
    if(a<a3):
        a=a3
    return a

In [18]:
a11=123
a21=211
a31=1440
b=max(a11,a21,a31)
print(b)

1440

In [19]:
def sum(a1,a2,a3):
    sum=a1+a2+a3
    return sum
s=sum(23,45,67)
print(s)

135

In [23]:
def mul():
    m=1
    for i in range(3):
        s=int(input("Enter the value"))
        m*=s
    print(m)
mul()

Enter the value10
Enter the value5
Enter the value20
1000