In [1]:
import re

In [4]:
txt="The rain in Spain"
x=re.findall("\AThe",txt)#\A is start from the or not like ^
print(x)
if x:
    print("match")
else:
    print("no match")

['The']
match

In [5]:
txt="The rain in Spain"
x=re.findall(r"\bain",txt)#\b is start from r or for end we write ain\b at r
print(x)
if x:
    print("match")
else:
    print("no match")

[]
no match

In [6]:
txt="The rain in Spain"
x=re.findall(r"ain\b",txt)#\b is start from r or for end we write ain\b at r
print(x)
if x:
    print("match")
else:
    print("no match")

['ain', 'ain']
match

In [8]:
txt="The rain in Spain"
x=re.findall(r"ain\B",txt)#\B is opposite to \b
print(x)
if x:
    print("match")
else:
    print("no match")

[]
no match

In [9]:
txt="The rain in Spain"
x=re.findall(r"\Bain",txt)#\B is opposite to \b
print(x)
if x:
    print("match")
else:
    print("no match")

['ain', 'ain']
match

In [11]:
txt="The rain 9 in Spain"
x=re.findall("\d",txt)#\d is for either string contain digit or not
print(x)
if x:
    print("match")
else:
    print("no match")

['9']
match

In [12]:
txt="The rain 9 in Spain"
x=re.findall("\D",txt)#\D is opposite to \d
print(x)
if x:
    print("match")
else:
    print("no match")

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']
match

In [13]:
txt="The rain 9 in Spain"
x=re.findall("\s",txt)#\s it show white space
print(x)
if x:
    print("match")
else:
    print("no match")

[' ', ' ', ' ', ' ']
match

In [14]:
txt="The rain 9 in Spain"
x=re.findall("\S",txt)#\S is opposite to \s
print(x)
if x:
    print("match")
else:
    print("no match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', '9', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
match

In [17]:
txt="The rain 9 _in Spain"
x=re.findall("\w",txt)#\w return from a to z, A to Z, 0-9, _
print(x)
if x:
    print("match")
else:
    print("no match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', '9', '_', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
match

In [16]:
txt="The rain 9 in Spain"
x=re.findall("\W",txt)#\W opposite to w means white space character
print(x)
if x:
    print("match")
else:
    print("no match")

[' ', ' ', ' ', ' ']
match

In [22]:
txt="The rain 9 in Spain"
x=re.findall("Spain\Z",txt)#\Z is this string end with 
print(x)
if x:
    print("match")
else:
    print("no match")

['Spain']
match